body{
    background-image: url(photo-1563089145-599997674d42.png);
    background-size: cover;
}
nav.navbar{
    background-color: rgb(181, 114, 226);
    font-size: x-large;
}
#music{
    margin-top: 200px;
}

div#music div.row{
    width: 100%;
    row-gap: 25px;
}
div#music div.row img{
    width: 300px;
}
.desc{
    max-height: 140px;
    max-width: 300px;
}
.desc span{
    color: white;
    font-size: x-large;
    background: rgba(0, 0, 0, 0.5);
}
